@media screen and (min-width:320px) and (max-width:699px) {
    /*Home*/
    body {
        margin: 0;
        padding: 0;
        border: 0;
    
    }
    

    header {
        width: 100%;
    }

    
    .headerRest{
        background-color: #202020;
        padding: 1em 0;
    }


    #logo {
        background-color: transparent;
        color:white;
        padding: 1em 0 0;
    }

    #logo h4 {
        font-size: 1.2em;
    }

    #main-navigation {
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    #main-navigation p {

        font-size: 1.3em;
        color:white;
        margin-right: 40%;
    }


    /*Hamburger button*/

    nav ul {
        width: 100%;
        height: 200px;
        position: absolute;
        top: 90vh;
        left: -100%;
        box-shadow: rgba(0, 0, 0, 0.096) 2px 2px 9px;
        transition: 0.3s ease-in;
        background-color: #202020;
        box-shadow: rgba(78, 77, 77, 0.264) 1px 1px 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }

    nav label img{
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;

    }

    nav ul li {
        padding: 1em;
        font-size: 1.3em;
        text-align: center;
        list-style-type: none;

    }

    nav ul li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    #checkbox_id {
        display: none;
    }

    input#checkbox_id:checked+nav ul {

        left: 0px;

    }

    /*Cart icon in header*/

    .cart-items {
        display: flex;
        align-items: center;
        justify-content:center;

    }

    .cart-items span {
        font-size: 1em;
        color:white;
        font-weight: 500;
    }

    .cart-items a {
        text-decoration: none;
    }

    .cart-img{
        width:48px;
        height: 48px;
    }

    /*Home main*/

    #home-page{
        background-image:  linear-gradient(90deg, rgba(13, 11, 13, 0.694) 0%, rgba(21, 15, 17, 0.739) 100%), url('./media/main-pic.jpg');
        background-size: cover;
        height: 100vh;
    }

    #home-page h1{
        text-align: center;
        font-size:2.5em;
        margin-top: 5em;
        font-weight: 200;
        color:white;
    }

    #home-menu{
        border-radius: 10px;
        padding: 1em 2em;
        background-color: transparent;
        border: 3px solid white;
        display: block;
        width:140px;
        margin: 1em auto 0;
        font-size: 1.5em;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }


    /*Menu*/

    #menu {
        width: 100%;
        margin: auto;
    }

    #menu h2 {

        text-align: center;
        font-weight: 500;
        padding: 2em 0 0;
        font-size: 2em;
        margin: 0.5em 0 1em;
    }

    #menu h4 {

        text-align: center;
        font-weight: 500;
        font-size: 2em;
        margin: 2em 0 0em;
    }

    #menu h5 {
        text-align: center;
        font-weight: 500;
        font-size: 1em;
    }


    /*Type meals*/
    .type-meals {

        width:100%;
        display: flex;
        overflow-x: scroll;

    }

    .type-meal-container-inside {
        white-space: nowrap;
        width: 90%;
        flex-shrink: 0;
        margin: 2em 2em 2em 1.5em;
        min-height: 30vh;
        box-shadow: rgba(57, 56, 56, 0.258) 1px 1px 10px;
        padding-bottom: 3em;
        border-radius: 10px;
        cursor: pointer;
    }

    .type-meal-container-inside img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    .type-meal-container-inside h3 {
        font-weight: 500;
        text-align: center;
        font-size: 1.4em;
        line-height: 2;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }

    .type-meal-container-inside p {

        font-size: 1em;
        text-align: center;

    }

    .type-meal-container-inside span {
        font-size: 1em;
    }

    .type-meal-container-inside button {

        padding: 15px 3em;
        border-radius: 10px;
        background-color: transparent;
        border: 2px solid #202020;
        color:#202020;
        display: block;
        font-size: 1.2em;
    }

    /*Contacts*/

    #contacts {
        width: 100%;
        margin: 1em auto 0;
        display: block;
    }

    #operation-hours {

        text-align: center;
        padding: 10% 0 10%;

    }

    #operation-hours table {

        width: 100%;
        margin-top: 2em;
        line-height: 1.8;
    }


    #operation-hours table td {
        font-size: 1.2em;
        font-weight: 500;
    }

    #formSection {

        margin-top: 2em;

    }

    #formSection h4 {
        font-size: 1.6em;
        font-weight: 600;
        text-align: center;
        margin: 0;

    }

    #formSection h6 {
        font-size: 1.3em;
        font-weight: 400;
        text-align: center;
        margin: 0;

    }

    form {

        border-radius: 10px;
        width: 360px;
        padding: 1em 0;
        margin: 2em auto 0;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(214, 214, 214);


    }

    form label {
        font-size: 1.4em;
        line-height: 2;
        margin-left: 1.4em;
    }

    form input[type=email] {
        width: 70%;
        height: 30px;
        border-radius: 10px;
        padding: 10px;
        margin-left: 2em;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(214, 214, 214);
        margin-bottom: 2em;

    }

    form textarea {
        width: 76%;
        height: 80px;
        border-radius: 10px;
        padding: 10px;
        margin-left: 2em;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(214, 214, 214);
        margin-bottom: 2em;


    }

    form input[type=submit] {
       
        padding: 20px 3em;
        border-radius: 10px;
        background-color: transparent;
        color: #202020;
        border: 2px solid #202020;
        display: block;
        margin: 1em auto;
        font-size: 1.5em;
        cursor: pointer;

    }


    #data {

        margin: 3em 0 0;
        align-self: center;
        font-size: 1.3em;
        line-height: 1.5;

    }

    #data a,
    p,
    h6 {
        text-decoration: none;
        color: black;
        text-align: center;
    }

    #data h6 {
        font-size: 1em;
        line-height: 2;
    }

    #concerns {

        text-align: center;
        font-size: 1.2em;
        margin: 2em 0;
    }

    #concerns a {
        text-decoration: none;
        color: black;
        font-size: 1em;
    }

    
    /*Cart*/


    #cart-body {
        width: 90%;
        margin: auto;
        display: block;
    }


    #cart-check-menu {
        display: block;
        width: 300px;
        margin: 2em auto;
        padding: 10px;
        background-color: transparent;
        color:#202020;
        border: 2px solid #202020;
        text-align: center;
        font-size: 1.3em;
        text-decoration: none;
        border-radius: 10px;
    }

    #cart-body h1 {
        text-align: center;
        font-size: 2em;
        margin: 2em 0;
    }


    .cart-meals {
        width: 1100px;
    }

    .addItem {

        padding: 20px 3em;
        border-radius: 10px;
        background-color: transparent;
        color: #202020;
        border-color: #202020;
        display: block;
        margin: 1em auto;
        font-size: 1.5em;
        color: white;
        cursor: pointer;
    }

    
    .dish-holder{
        display: grid;
        grid-template-columns: 100%;

    }

    .dish-holder div{
        margin: 1em auto;
    }
    #titleCart{
        text-align: center;
        margin: 1em 0;
        font-size: 3em;
        font-weight: 200;
    }

    #total-data{
        text-align: center;
        margin-top: 1em;
        font-size: 2.5em;
        font-weight: 200;
    }

    #pay{
        padding: 20px 3em;
        border-radius: 10px;
        display: block;
        margin: 1em auto;
        font-size: 1.5em;
        background-color: transparent;
        border:2px solid #404040;
        color:#202020;
        cursor: pointer;
    }

    .cartQ{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .plusMinus{
        margin: 1em 20px;
        width:40px;
        height: 40px;
        padding: 0!important;
        font-size: 1.5em;
        border-radius: 160px!important;
        cursor: pointer;
        display: inline;
        background-color: transparent;
        border:2px solid #404040;
        color:#202020;

    }

    .cartQ span{
        margin: 0 10px;
        font-size: 2em;
    }


    /*Payments*/

    #payment h2{
        text-align: center;
        margin: 2em 0;
        font-size: 1.6em;
        font-weight: 300;
    }

    #payment-form{
        width: 90%;
        margin: auto;
        display: block;

    }
    
    #payment-form label{
        font-size: 1.2em;

    }

    #expDate {
        border: 2px solid rgb(237, 232, 232);
        width:70px;
        margin: 1em 0 0 2.6em;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #cvv{
        border: 2px solid rgb(237, 232, 232);
        width:70px;
        margin: 1em 0;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #address{
        border: 2px solid rgb(237, 232, 232);
        width:300px;
        margin-left: 2.4em;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #zip{
        border: 2px solid rgb(237, 232, 232);
        width: 80px;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #apt{
        border: 2px solid rgb(237, 232, 232);
        width:50px;
        margin: 1em;
        margin-left: 2.5em;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #payment-form input[type=tel], #ccHolder{
        border: 2px solid rgb(237, 232, 232);
        width:300px;
        margin: 1em 2em;
        font-size:1em;
        padding: 1em 20px;
        border-radius: 5px;
    }


    #payBtn{
        width:180px;
        padding: 10px;
        cursor: pointer;
        display: block;
        text-align: center;
        margin: 1em auto;
    }

#payment h4{
    text-align: center;
    margin-top: 2em;
    font-size:1.5em;
    font-weight: 300;

}
    #editOrder{
        border-radius: 10px;
        display: block;
        margin: 1em auto;
        text-align: center;
        width:300px;
        padding: 10px 0;
        text-decoration: none;
        font-size: 1.5em;
        background-color: transparent;
        border:2px solid #404040;
        color:#202020;
        cursor: pointer;
    }


}


@media screen and (min-width:700px) and (max-width:1100px) {

  
    header{
        background-color: transparent;
     
    }
    #logo {
        font-size: 2em;
        text-align: center;

        color:rgb(255, 255, 255);
    }

    #main-navigation {
        width:100%;
        padding: 1em 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: transparent;
        display: grid;
        grid-template-columns: 90% 10%;


    }

    .cart-items {
        margin-left: 10%;
        grid-column-start: 2;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .cart-items span {
        font-size: 1.5em;
        font-weight: 500;
        color:white;
    }

    .cart-items img{
        color:white;
        width:48px;
 
    }

    .cart-items a {
        text-decoration: none;
    }

    .cart-items a:hover {
        text-decoration: none;
    }

    #main-navigation p {
        display: none;
    }

    #checkbox_id {
        display: none;
    }

    #main-navigation label {
        display: none;
    }

    #main-navigation nav {
        width:100%;
        grid-column-start: 1;
        justify-self:flex-end;
        align-self: center;
    }

    #main-navigation nav ul {

        display: flex;
        align-items: center;
        justify-content: center;
        padding-left:12%;

    }

    #main-navigation nav ul li {
        list-style-type: none;
        font-size: 1.4em;
        padding: 0 1em 0 1em;

    }

    #main-navigation nav ul li a {
        text-decoration: none;
        color: rgb(255, 255, 255);

    }

    #main-navigation a:hover {
        text-decoration: underline;
        color: rgb(255, 255, 255);

    }

    /*Home*/
    #home-page{
        background-image:  linear-gradient(90deg, rgba(13, 11, 13, 0.694) 0%, rgba(21, 15, 17, 0.739) 100%), url('./media/main-pic.jpg');
        padding: 1em;
    }

    #home-main{

        display: grid;
        grid-template-columns: 100%;
    }



    #welcome-title h1{
        font-size: 4.5em;
        text-align: center;
        margin:4em auto 1em;
        font-weight: 100;
        color:white;

    }

    #home-menu{
        border-radius: 10px;
        padding: 1em 2em;
        background-color: transparent;
        border: 3px solid white;
        display: block;
        width:140px;
        margin: auto;
        font-size: 1.5em;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    
    #home-menu:hover{
        border-radius: 10px;
        padding: 1em 2em;
        background-color: white;
        border: 3px solid white;
        color: rgb(36, 33, 33);
        display: block;
        width:140px;
        margin: auto;
        font-size: 1.5em;
        cursor: pointer;
        text-decoration: none;
    }


    /*Menu*/
    .headerRest{
        background-color: #202020;
        padding: 1em;
    }
    #menu {
        width: 100%;
        margin: auto;
    }

    #menu h2 {

        text-align: center;
        font-weight: 500;
        font-size: 2.6em;
        margin: 2em 0 2em;
    }

    #menu h4 {

        text-align: center;
        font-weight: 500;
        font-size: 2em;
        margin: 2em 0 2em;
    }

    #menu h5 {
        display: none;
    }

    /*Type meals*/
    .type-meals {

        display: grid;
        grid-template-columns: 33% 33% 33% ;

    }

    .type-meal-container-inside {
        width: 95%;
        margin: 1em auto;
        min-height: 25vh;
        box-shadow: rgba(57, 56, 56, 0.258) 1px 1px 10px;
        padding-bottom: 3em;
        border-radius: 10px;
        cursor: pointer;
    }

    .type-meal-container-inside img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    .type-meal-container-inside h3 {
        width:99%;
        font-weight: 500;
        text-align: left;
        font-size: 1.3em;
        margin: 1em auto;
        display: flex;
        align-items: center;
        justify-content:space-evenly;

    }

    .type-meal-container-inside p {

        font-size: 0.9em;
        text-align: center;
        width:70%;
        margin: auto;

    }

    .type-meal-container-inside span {
        font-size: 1em;
    }

    .type-meal-container-inside button {

        padding: 10px 20px;
        border-radius: 10px;
        background-color: transparent;
        border: 2px solid #202020;
        color:#202020;
        display: block;
        margin: 1em auto;
        font-size: 1.2em;
    }
  
    /*Contact*/

    #contacts {
        width: 100%;
        margin: 3em auto 0;
        min-height: 65vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;

    }

    #operation-hours {

        text-align: center;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: flex-start;

    }

    #operation-hours table {

        width: 100%;
        margin: 2em auto 0;
        line-height: 1.8;
    }


    #operation-hours table td {
        font-size: 1.2em;
        font-weight: 500;
    }

    #formSection {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;
        align-self: flex-start;

    }

    #formSection h4 {
        font-size: 1.6em;
        font-weight: 600;
        text-align: center;
        margin: 0;

    }

    #formSection h6 {
        font-size: 1.3em;
        font-weight: 400;
        text-align: center;
        margin: 0;

    }

    form {

        border-radius: 10px;
        width: 340px;
        padding: 1em 0;
        margin: 2em auto 0;
        margin-right: 1em;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(214, 214, 214);


    }

    form label {
        font-size: 1.4em;
        line-height: 2;
        margin-left: 1.4em;
    }

    form input[type=email] {
        width: 70%;
        height: 30px;
        border-radius: 10px;
        padding: 10px;
        margin-left: 2em;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(214, 214, 214);
        margin-bottom: 2em;

    }

    form textarea {
        width: 76%;
        height: 80px;
        border-radius: 10px;
        padding: 10px;
        margin-left: 2em;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(214, 214, 214);
        margin-bottom: 2em;


    }

    form input[type=submit] {
        width: 150px;
        height: 40px;
        font-size: 1.3em;
        border-radius: 10px;
        padding: 10px;
        margin: 1em auto 0;
        display: block;
        border:#202020 2px solid;
        background-color: transparent;
        color:#202020;

    }


    #data {

        margin: 5em 0 0;
        grid-row-start: 3;
        grid-row-end: 4;
        align-self: center;
        font-size: 1.3em;
        line-height: 1.5;

    }

    #data a,
    p,
    h6 {
        text-decoration: none;
        color: black;
        text-align: center;
    }

    #data h6 {
        font-size: 1em;
    }

    #concerns {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        font-size: 1.6em;
        grid-row-start: 4;
        grid-row-end: 5;
        align-self: flex-end;
    }

    #concerns a {
        text-decoration: none;
        color: black;
    }

    /*Cart*/

    #cart-body {
        width: 95%;
        margin: auto;
        display: block;
    }

    #cart-check-menu {
        display: block;
        width: 300px;
        margin: 2em auto;
        padding: 10px;
        background-color: transparent;
        color:#202020;
        border: 2px solid #202020;
        text-align: center;
        font-size: 1.3em;
        text-decoration: none;
        border-radius: 10px;
    }

    #cart-body h1 {
        text-align: center;
        font-size: 2em;
        margin: 2em 0;
    }


    .cart-meals {
        width: 1100px;
    }

    .addItem {

        padding: 20px 3em;
        border-radius: 10px;
        background-color: transparent;
        color: #202020;
        border-color: #202020;
        display: block;
        margin: 1em auto;
        font-size: 1.5em;
        color: white;
        cursor: pointer;
    }

    
    .dish-holder{
        display: grid;
        width:100%;
        grid-template-columns: 33% 33% 33%;
    }

    .dish-holder .type-meal-container-inside{

        width:95%;
    }

    .dish-holder div h3{
        font-size: 1em;
    }

    #titleCart{
        text-align: center;
        margin: 1em 0;
        font-size: 3em;
        font-weight: 200;
    }

    #total-data{
        text-align: center;
        margin-top: 1em;
        font-size: 2.5em;
        font-weight: 200;
    }

    #pay{
        padding: 20px 3em;
        border-radius: 10px;
        display: block;
        margin: 1em auto;
        font-size: 1.5em;
        background-color: transparent;
        border:2px solid #404040;
        color:#202020;
        cursor: pointer;
    }

    .cartQ{
        display: flex;
        align-items: center;
        justify-content: center;
        width:80%;
        margin: auto;

    }

    .plusMinus{

        margin: 1em auto;
        padding: 5px 10px!important;
        font-size: 1.5em;
        width:40px;
        height: 40px;
        border-radius: 150px!important;
        cursor: pointer;
        background-color: transparent;
        border:2px solid #404040;
        color:#202020;

    }

    .cartQ span{
        margin: 0 1px;
        font-size: 1.5em;
    }

    

    /*Payments*/

    #payment h2{
        text-align: center;
        margin: 2em 0;
        font-size: 1.6em;
        font-weight: 300;
    }

    #payment-form{
        width: 400px;
        margin: auto;
        display: block;

    }
    
    #payment-form label{
        font-size: 1.2em;

    }

    #addressGroup{

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #expDate {
        border: 2px solid rgb(237, 232, 232);
        width:50px;
        margin: 1em 0 0 2.6em;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #cvv{
        border: 2px solid rgb(237, 232, 232);
        width:70px;
        margin: 1em 0;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #address{
        border: 2px solid rgb(237, 232, 232);
        width:300px;
        margin-left: 2.4em;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #zip{
        border: 2px solid rgb(237, 232, 232);;
        padding: 1em 20px;
        border-radius: 5px;
        width:80px;
    }

    #apt{
        border: 2px solid rgb(237, 232, 232);
        width:50px;
        margin: 1em 0 1em 2.5em;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #payment-form input[type=tel], #ccHolder{
        border: 2px solid rgb(237, 232, 232);
        width:300px;
        margin: 1em 2em;
        font-size:1em;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #payBtn{
        width:180px;
        cursor: pointer;
        display: block;
        margin: 1em auto;
    }

#payment h4{
    text-align: center;
    margin-top: 2em;
    font-size:1.5em;
    font-weight: 300;

}
    #editOrder{
        border-radius: 10px;
        display: block;
        margin: 1em auto;
        text-align: center;
        width:300px;
        padding: 10px 0;
        text-decoration: none;
        font-size: 1.5em;
        background-color: transparent;
        border:2px solid #404040;
        color:#202020;
        cursor: pointer;
    }


}

