* {
    margin: 0;
    padding: 0;
    border: 0;

}


body {
    font-family: Quicksand, Helvetica, sans-serif;
}

#logo h4 {
    text-align: center;
    font-weight: 300;

}

#cart-container a {
    display: block;
    text-align: center;
    margin-bottom: 0.2em;
}


#cart {
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 32px;
    text-align: center;

}




@media screen and (min-width:1101px) {

    header{
        background-color: transparent;
    }
    #logo {
        font-size: 2em;
        text-align: center;
        color:rgb(255, 255, 255);
    }

    #main-navigation {
        width:1100px;
        margin: auto;
        padding: 1em 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: transparent;
        display: grid;
        grid-template-columns: 90% 10%;


    }

    .cart-items {
        grid-column-start: 2;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .cart-items span {
        font-size: 1.5em;
        font-weight: 500;
        color:white;
    }

    .cart-items img{
        color:white;
        width:48px;
 
    }

    .cart-items a {
        text-decoration: none;
    }

    .cart-items a:hover {
        text-decoration: none;
    }

    #main-navigation p {
        display: none;
    }

    #checkbox_id {
        display: none;
    }

    #main-navigation label {
        display: none;
    }

    #main-navigation nav {


        margin: auto;
        width: 500px;
        grid-column-start: 1;
    }

    #main-navigation nav ul {
        display: flex;
        align-items: center;
        padding-left: 25%;
        justify-content: center;

    }

    #main-navigation nav ul li {
        list-style-type: none;
        font-size: 1.4em;
        padding: 0 1em 0 1em;

    }

    #main-navigation nav ul li a {
        text-decoration: none;
        color: rgb(255, 255, 255);

    }

    #main-navigation a:hover {
        text-decoration: 1px underline;
        color: rgb(255, 255, 255);

    }

    /*Home*/
    #home-page{
        background-image:  linear-gradient(90deg, rgba(13, 11, 13, 0.694) 0%, rgba(21, 15, 17, 0.739) 100%), url('./media/main-pic.jpg');
        background-size: cover;
        padding: 1em;
    }

    #home-main{

        display: grid;
        grid-template-columns: 60% 50%;
    }


    #welcome-title{
        grid-column-start: 1;

    }
    

    #welcome-title h1{

        font-size: 5em;
        margin: 3em 0 0.5em 3em;
        font-weight: 100;
        color:white;

    }

    #home-menu{
        border-radius: 10px;
        padding: 1em 2em;
        background-color: transparent;
        border: 3px solid white;
        width:140px;
        margin-left: 10em;
        font-size: 1.5em;
        color: white;
        cursor: pointer;
        text-decoration: none;
        transition: scale 2s ease-in;
    }

    
    #home-menu:hover{
        border-radius: 10px;
        padding: 1em 2em;
        display: border;
        background-color: white;
        width:140px;
        margin-left: 10em;
        font-size: 1.5em;
        color: rgb(36, 33, 33);
        cursor: pointer;
        text-decoration: none;
    }



    /*Menu*/

    .headerRest{
        background-color: #202020;
        padding: 1em;
    }
    #menu {
        width: 1100px;
        margin: auto;
        
    }

    #menu h2 {

        text-align: center;
        font-weight: 500;
        font-size: 2.6em;
        margin: 2em 0 2em;
    }

    #menu h4 {

        text-align: center;
        font-weight: 500;
        font-size: 2em;
        margin: 2em 0 2em;
    }

    #menu h5 {
        display: none;
    }

    .type-meals {

        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .type-meal-container-inside {
        width: 90%;
        margin: 1em auto;
        min-height: 30vh;
        box-shadow: rgba(57, 56, 56, 0.258) 1px 1px 10px;
        padding-bottom: 3em;
        border-radius: 10px;
        cursor: pointer;
    }

    .type-meal-container-inside img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    .type-meal-container-inside h3 {
        font-weight: 500;
        text-align: center;
        font-size: 1.4em;
        margin: 1em 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .type-meal-container-inside p {
        text-align: center;
    }

    .type-meals  .type-meal-container-inside button {

        padding: 15px 3em;
        border-radius: 10px;
        background-color: transparent;
        border: 2px solid #202020;
        color:#202020;
        display: block;
        font-size: 1.2em;
    }


    /*Contacts*/

    #contacts {
        width: 1100px;
        margin: 3em auto 0;
        min-height: 65vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;

    }

    #operation-hours {

        text-align: center;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: flex-start;

    }

    #operation-hours table {

        width: 50%;
        margin: 2em auto 0;
        line-height: 1.8;
    }

    #operation-hours table td {
        font-size: 1.2em;
        font-weight: 500;
    }

    #formSection {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;
        align-self: flex-start;

    }

    #formSection h4 {
        font-size: 1.6em;
        font-weight: 600;
        text-align: left;
        margin: 0 0 0 4em;

    }

    #formSection h6 {
        font-size: 1.3em;
        font-weight: 400;
        text-align: left;
        margin: 0 0 0 5em;
    }

    form {

        border-radius: 10px;
        width: 360px;
        padding: 1em 0;
        margin: 2em auto 0;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(214, 214, 214);

    }

    form label {
        font-size: 1.4em;
        line-height: 2;
        margin-left: 1.4em;
    }

    form input[type=email] {
        width: 70%;
        height: 30px;
        border-radius: 10px;
        padding: 10px;
        margin-left: 2em;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(214, 214, 214);
        margin-bottom: 2em;

    }

    form textarea {
        width: 76%;
        height: 80px;
        border-radius: 10px;
        padding: 10px;
        margin-left: 2em;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(214, 214, 214);
        margin-bottom: 2em;


    }

    form input[type=submit] {
        width: 80%;
        height: 40px;
        font-size: 1.3em;
        border-radius: 10px;
        padding: 10px;
        box-shadow: rgba(122, 114, 114, 0.357) 1px 1px 10px;
        margin: 1em auto 0;
        display: block;
        background-color: #DE3C3C;
        color: white;

    }


    #data {

        margin: 5em 0 0;
        grid-row-start: 3;
        grid-row-end: 4;
        align-self: flex-end;
        font-size: 1.3em;
        line-height: 1.5;

    }

    #data a,
    p,
    h6 {
        text-decoration: none;
        color: black;
        text-align: center;
    }

    #data h6 {
        font-size: 1em;
    }

    #concerns {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        font-size: 1.6em;
        grid-row-start: 4;
        grid-row-end: 5;
        align-self: flex-end;
    }

    #concerns a {
        text-decoration: none;
        color: black;
    }


    /*Cart*/

    #cart-body {
        width: 1100px;
        margin: auto;
    }

    #cart-check-menu {
        display: block;
        width: 300px;
        margin: 2em auto;
        padding: 10px;
        background-color: #DE3C3C;
        color: white;
        text-align: center;
        font-size: 1.3em;
        text-decoration: none;
        border-radius: 10px;
    }

    #cart-body h1 {
        text-align: center;
        font-size: 2em;
        margin: 2em 0;
    }


    .cart-meals {
        width: 1100px;
    }

    .addItem {

        padding: 20px 3em;
        border-radius: 10px;
        background-color: transparent;
        color: #202020;
        border-color: #202020;
        display: block;
        margin: 1em auto;
        font-size: 1.5em;
        color: white;
        cursor: pointer;
    }

    
    .dish-holder{
        display: grid;
        grid-template-columns: 33% 33% 33%;

    }

    #titleCart{
        text-align: center;
        margin: 1em 0;
        font-size: 3em;
        font-weight: 200;
    }

    #total-data{
        text-align: center;
        margin-top: 2em;
        font-size: 2.5em;
        font-weight: 200;
    }

    #pay{
        padding: 20px 3em;
        border-radius: 10px;
        display: block;
        margin: 1em auto;
        font-size: 1.5em;
        background-color: transparent;
        border:2px solid #404040;
        color:#202020;
        cursor: pointer;
    }

    .cartQ{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .plusMinus{
        margin: 1em 20px;
        width:40px!important;
        height: 40px!important;
        font-size: 1.5em;
        border-radius: 160px!important;
        cursor: pointer;
        background-color: transparent;
        border:2px solid #404040;
        color:#202020;

    }

    .cartQ span{
        margin: 0 10px;
        font-size: 2em;
    }

    /*Payments*/

    #payment h2{
        text-align: center;
        margin: 2em 0;
        font-size: 1.9em;
    }
    #payment-form{
        width: 600px;
        display: block;
        padding: 0 0 10px 0;

    }
    
    #addressGroup{

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #expDate {
        border: 2px solid rgb(237, 232, 232);
        width:70px;
        margin: 1em 0 0 2.6em;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #cvv{
        border: 2px solid rgb(237, 232, 232);
        width:70px;
        margin: 1em 0;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #address, #zip{
        border: 2px solid rgb(237, 232, 232);
        width:200px;
        margin: 1em auto;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #apt{
        border: 2px solid rgb(237, 232, 232);
        width:50px;
        margin: 1em auto;
        padding: 1em 20px;
        border-radius: 5px;
    }

    #payment-form input[type=tel], #ccHolder{
        border: 2px solid rgb(237, 232, 232);
        width:400px;
        margin: 1em 2.2em;
        font-size:1em;
        padding: 1em 20px;
        border-radius: 5px;
    }



    #zip{
        width: 90px !important;
    }

    #payBtn{
        width:180px;
        cursor: pointer;
        display: block;
        margin: 1em auto;
    }

    /*Confirmation*/
    #confirmation{
        width:1100px;
        margin: auto;
    }

    #confirmation h1{
        text-align: center;
        margin-top: 2em;
    }

    #confirmation h2{
        text-align: center;
        margin-top: 0.5em;
    }

    #confirmation h3{
        text-align: left;
        margin: 3em 0 1em;
    }

   #confirmation table{
       border:2px solid red;
   }


}